<p id="notice"><%= notice %></p>

<h1>La Clause Sociale de Formation</h1>

  <p class="lead-text">Le décrochage scolaire est une cause nationale : 80 000 jeunes décrochent du système scolaire chaque année en France.</p>
<p class="lead-text">Le dispositif Clause Sociale de Formation permet de s'appuyer sur les marchés publics pour offrir des opportunités de parcours en entreprise pour les jeunes en situation de décrochage scolaire.</p>

<div class="cards">
  <div class="row">
    <div class="card">
      <%= link_to entreprise_guide_path, class: "card__link" do %>
        <div class="card__cover">
          <%= image_tag "entreprise.png", alt: "entreprise" %>
        </div>
        <div class="card__content">
          <h3>Vous êtes une entreprise&nbsp;?</h3>
        </div>
      <% end %>
    </div>
    <div class="card">
      <%= link_to acheteur_guide_path, class: "card__link" do %>
        <div class="card__cover">
          <%= image_tag "acheteur.png", alt: "acheteur" %>
        </div>
        <div class="card__content">
          <h3>Vous êtes un acheteur&nbsp;?</h3>
        </div>
      <% end %>
    </div>
    <div class="card">
      <%= link_to tuteur_guide_path, class: "card__link" do %>
        <div class="card__cover">
          <%= image_tag "education_nationale.png", alt: "Education nationale" %>
        </div>
        <div class="card__content">
          <h3>Vous êtes tuteur&nbsp;?</h3>
        </div>
      <% end %>
    </div>

  </div>
</div>
<blockquote>
  <p>Tout l’intérêt pour moi de faire un stage dans le milieu professionnel dans lequel je fais mes études et de voir si c’est bien la voie que je veux continuer à emprunter. Cela a été une expérience très enrichissante. Maintenant je sais où pourrait aboutir ma formation actuelle.</p>

  <footer>Diouma S. / Paris</footer>
</blockquote>
<p><%= link_to "D'autres témoignages", temoignages_path, class: "button" %></p>
<p><%= link_to "Suivi des parcours", parcours_a_suivre_path, class: "button" %></p>

