<p id="notice"><%= notice %></p>

<h1>La Clause Sociale de Formation</h1>
<p class="lead-text">Le dispositif Clause Sociale de Formation permet de s'appuyer sur les marchés publics pour offrir des opportunités de parcours en entreprise pour les jeunes en situation de décrochage scolaire.</p>

<div class="cards">
  <div class="row">
    <div class="card">
      <%= link_to entreprise_path, class: "card__link" do %>
        <div class="card__cover">
          <%= image_tag "entreprise.png", alt: "entreprise" %>
        </div>
        <div class="card__content">
          <h3>Vous êtes une entreprise&nbsp;?</h3>
          <%= link_to "Préparez-vous", entreprise_path, class: "button" %>
        </div>
      <% end %>
    </div>
    <div class="card">
      <%= link_to new_parcours_path, class: "card__link" do %>
        <div class="card__cover">
          <%= image_tag "acheteur.png", alt: "acheteur" %>
        </div>
        <div class="card__content">
          <h3>Vous êtes un acheteur&nbsp;?</h3>
          <%= link_to 'Proposer un parcours', new_parcours_path, class: "button" %>
        </div>
      <% end %>
    </div>
    <div class="card">
      <%= link_to domaines_path, class: "card__link" do %>
        <div class="card__cover">
          <%= image_tag "education_nationale.png", alt: "Education nationale" %>
        </div>
        <div class="card__content">
          <h3>Vous êtes tuteur&nbsp;?</h3>
          <%= link_to 'Retrouver les parcours', domaines_path, class: "button" %>
        </div>
      <% end %>
    </div>
  </div>

