<p id="notice"><%= notice %></p>

<h1>L'entreprise et la Clause Sociale de Formation</h1>
<p class="lead-text">Toute entreprise titulaire d'un marché public avec une Clause Sociale de Formation doit offrir des parcours aux jeunes en situation de décrochage scolaire.</p>

<div class="cards">
  <div class="row">
    <div class="card">
      <%= link_to preparation_marche_path, class: "card__link" do %>
        <div class="card__cover">
          <%= image_tag "entreprise.png", alt: "entreprise" %>
        </div>
        <div class="card__content">
          <h3>Vous préparez une réponse à un marché public&nbsp;?</h3>
        </div>
      <% end %>
    </div>
    <div class="card">
      <%= link_to marche_notifie_path, class: "card__link" do %>
        <div class="card__cover">
          <%= image_tag "acheteur.png", alt: "acheteur" %>
        </div>
        <div class="card__content">
          <h3>Vous avez remporté un marché public&nbsp;?</h3>
        </div>
      <% end %>
    </div>
    <div class="card">
      <%= link_to referent_entreprise_path, class: "card__link" do %>
        <div class="card__cover">
          <%= image_tag "education_nationale.png", alt: "Education nationale" %>
        </div>
        <div class="card__content">
          <h3>Le rôle du référent entreprise</h3>
        </div>
      <% end %>
    </div>

  </div>
</div>

<section class="section-guide">
<h3>Pour toute question</h3>
<p><a class=button href="mailto:clausesocialedeformation@education.gouv.fr"><strong>clausesocialedeformation@education.gouv.fr</strong></a></p>
</section>

<section class="section-guide">
<h3>Des liens utiles pour s’informer</h3>
<ul>
  <li><a href="https://www.education.gouv.fr/pid37517/la-clause-sociale-de-formation-sous-statut-scolaire.html">education.gouv.fr/la-clause-sociale-de-formation-sous-statut-scolaire</a></li>
  <li><a href="http://achats.aji-france.com/mission_des_achats/la_clause_sociale_de_formation_sous_statut_scolaire">ahats.aji-france.com/mission_des_achats/la_clause_sociale_de_formation_sous_statut_scolaire</a></li>
</ul>
</section>
