<p id="notice"><%= notice %></p>

<p>
  <strong>Nom organisme acheteur:</strong>
  <%= @parcours.nom_organisme_acheteur %>
</p>

<p>
  <strong>Type acheteur:</strong>
  <%= @parcours.type_acheteur %>
</p>

<p>
  <strong>Nom prenom contact acheteur:</strong>
  <%= @parcours.nom_prenom_contact_acheteur %>
</p>

<p>
  <strong>Mail contact acheteur:</strong>
  <%= @parcours.mail_contact_acheteur %>
</p>

<p>
  <strong>Telephone contact acheteur:</strong>
  <%= @parcours.telephone_contact_acheteur %>
</p>

<p>
  <strong>Objet marche:</strong>
  <%= @parcours.objet_marche %>
</p>

<p>
  <strong>Date notification marche:</strong>
  <%= @parcours.date_notification_marche %>
</p>

<p>
  <strong>Date fin clause sociale:</strong>
  <%= @parcours.date_fin_clause_sociale %>
</p>

<p>
  <strong>Date fin clause sociale reconduction comprise:</strong>
  <%= @parcours.date_fin_clause_sociale_reconduction_comprise %>
</p>

<p>
  <strong>Nom entreprise:</strong>
  <%= @parcours.nom_entreprise %>
</p>

<p>
  <strong>Secteur activite entreprise:</strong>
  <%= @parcours.secteur_activite_entreprise %>
</p>

<p>
  <strong>Site web entreprise:</strong>
  <%= @parcours.site_web_entreprise %>
</p>

<p>
  <strong>Nom prenom referent entreprise:</strong>
  <%= @parcours.nom_prenom_referent_entreprise %>
</p>

<p>
  <strong>Mail referent entreprise:</strong>
  <%= @parcours.mail_referent_entreprise %>
</p>

<p>
  <strong>Telephone referent entreprise:</strong>
  <%= @parcours.telephone_referent_entreprise %>
</p>

<p>
  <strong>Fonction referent entreprise:</strong>
  <%= @parcours.fonction_referent_entreprise %>
</p>

<p>
  <strong>Nom prenom 2eme referent entreprise:</strong>
  <%= @parcours.nom_prenom_2eme_referent_entreprise %>
</p>

<p>
  <strong>Mail 2eme referent entreprise:</strong>
  <%= @parcours.mail_2eme_referent_entreprise %>
</p>

<p>
  <strong>Telephone 2eme referent entreprise:</strong>
  <%= @parcours.telephone_2eme_referent_entreprise %>
</p>

<p>
  <strong>Fonction 2eme referent entreprise:</strong>
  <%= @parcours.fonction_2eme_referent_entreprise %>
</p>

<p>
  <strong>Heures parcours:</strong>
  <%= @parcours.heures_parcours %>
</p>

<p>
  <strong>Adresse parcours:</strong>
  <%= @parcours.adresse_parcours %>
</p>

<p>
  <strong>Region parcours:</strong>
  <%= @parcours.region_parcours %>
</p>

<p>
  <strong>Departement parcours:</strong>
  <%= @parcours.departement_parcours %>
</p>

<p>
  <strong>Academie parcours:</strong>
  <%= @parcours.academie_parcours %>
</p>

<p>
  <strong>Domaine activite parcours:</strong>
  <%= @parcours.domaine_activite_parcours %>
</p>

<p>
  <strong>Details taches proposees parcours:</strong>
  <%= @parcours.details_taches_proposees_parcours %>
</p>

<p>
  <strong>Autre remarque:</strong>
  <%= @parcours.autre_remarque %>
</p>

<%= link_to 'Edit', edit_parcours_path(@parcours) %> |
<%= link_to 'Back', parcours_index_path %>
