<!DOCTYPE html>
<html>
  <head>
    <title>Clause Sociale De Formation</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="main">
      <%= yield %>
    </div>
    <footer class="bas-de-page">
      <nav class="navigation">
        <ul>
          <li><%= link_to "D'autres témoignages", temoignages_path %></li>
          <li><%= link_to "Suivi des parcours", parcours_a_suivre_path %></li>
          <li><a href="mailto:clausesocialedeformation@education.gouv.fr">clausesocialedeformation@education.gouv.fr</a></li>
        </ul>
      </nav>
    </footer>
  </body>
</html>
